@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}

#play {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    z-index: 2000;
}

#play:hover {
    cursor: pointer;
}